@model List<WeatherNote.Models.Note>
@{
    ViewBag.Title = "Index";
}

<h2>Notes</h2>
@if (!Model.Any())
{
    <p>There are no notes</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Note</th>
                <th>Temp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var note in Model)
            {
                <tr>
                    <td>@note.Date.ToShortDateString()</td>
                    <td>@note.Message</td>
                    <td>?</td>
                </tr>
            }
        </tbody>
    </table>
}

